<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ViQuAD Dataset Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Please Check and Edit Text</h1>
    <br>
    {% if datatrain %}
    <p class="data_edit"><strong><h3>DATA:</h3></strong> {{ datatrain|safe }}
        {% endif %}
    
    <form action="" method="post">
        <p></p>
        <div class="form-group">
            <p><strong>Edit Context:</strong></p>
            <textarea name="context_edit" style="width:90%;" cols="200" rows="10" placeholder="Context Edit Here">{{context}}</textarea>
        </div>
        
        <div class="form-group">
            <p><strong>Edit Answer:</strong></p>
            <textarea name="answer_edit" style="width:90%;" cols="200" rows="2" placeholder="Answer Edit Here">{{answer}}</textarea>
        </div>
        <input class="btn btn-success" type="submit" value="SUBMIT">
    </form>
    
</div>
</body>
</html>
