<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THANKS FOR EDIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div style="position:relative;left:600px;top:50px;" >
        <h3>Thanks For Edit</h3>
        <br>
        <a href="http://localhost:5000/random">
            <input class="btn btn-success" type="submit" value="Tiếp tục edit">
        </a>
    </div>
</body>
</html>